<?xml version="1.0" ?>
<model>
  <name>maze20ftx20ft_4openside</name>
  <version>1.0</version>
  <sdf sdf="1.8">maze20ftx20ft_4openside.sdf</sdf>
  <author>
    <name>Joshua Chang</name>
    <email>chang529@purdue.edu</email>
  </author>
    <description>20ft x 20ft square maze for IEEE 2024 drone simulation </description>
</model>
