<?xml version="1.0"?>
<model>
  <name>maze15x15_3openside</name>
  <version>1.0</version>
  <sdf version="1.9">maze15x15_3openside.sdf</sdf>
  <author>
    <name>Joshua Chang</name>
    <email>chang529@purdue.edu</email>
  </author>
  <description>15mx15m square maze for IEEE 2024 drone simulation </description>
</model>
